<div id="coffee_menu">
<table>
	<th colspan=4>Coffee Menu</th>
	<tr id = "sizes">
		<td>Name</td>
		<td>12 oz</td>
		<td>16 oz</td>
		<td>20 oz</td>
	</tr>
	<tr>
		<td><a href="http://localhost:3000/products/3">Coffee</a></td>
		<td>$1.50</td>
		<td>$1.75</td>
		<td>$2.00</td>
	</tr>
	<tr>
		<td><a href="http://localhost:3000/products/6">Americano</a></td>
		<td>$2.00</td>
		<td>$2.25</td>
		<td>$2.50</td>
	</tr>
	<tr>
		<td><a href="http://localhost:3000/products/12">Cafe au Lait</a></td>
		<td>$2.25</td>
		<td>$2.50</td>
		<td>$2.75</td>
	</tr>
	<tr>
		<td><a href="http://localhost:3000/products/9">Latte</a></td>
		<td>$3.00</td>
		<td>$3.25</td>
		<td>$3.50</td>
	</tr>
	<tr>
		<td><a href="http://localhost:3000/products/21">Latte Macchiato</a></td>
		<td>$3.00</td>
		<td>$3.25</td>
		<td>$3.50</td>
	</tr>
	<tr>
		<td><a href="http://localhost:3000/products/27">Mocha</a></td>
		<td>$3.50</td>
		<td>$3.75</td>
		<td>$4.00</td>
	</tr>
	<tr>
		<td><a href="http://localhost:3000/products/18">Cappuccino</a></td>
		<td>$3.00</td>
		<td>$3.25</td>
		<td>$3.50</td>
	</tr>
	<tr>
		<td><a href="http://localhost:3000/products/24">Macchiato</a></td>
		<td>$3.00</td>
		<td>$3.25</td>
		<td>$3.50</td>
	</tr>
	<tr>
		<td><a href="http://localhost:3000/products/15">Espresso</a></td>
		<td>$1.75 (single shot)</td>
		<td>$2.00 (double shot)</td>
	</tr>
	<tr>
		<td><a href="http://localhost:3000/products/30">Turkish Coffee</a></td>
		<td>$3.50 (8 oz size only)</td>
	</tr>					
</table></br>
All drinks can be made hot, iced or blended</br>
Extra shot: + $0.75</br>
Flavor: + $0.50</br>
</div>

