<div id="advertisement_vertical">
	<a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html"><img id= "vert_ad" src =""></a>
</div>

<script>
var vertical_ad = ["GOP", "Money", "Starbucks", "Dog", "Beer", "Surgery"];
var randomNumber=Math.floor(Math.random()*horizontal_ad.length);
document.getElementById("vert_ad").src = "images/" + vertical_ad[randomNumber] + ".jpg";
</script>