<div id="advertisement_horizontal">
	<a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html"><img id= "hori_ad" src =""></a>
</div>

<script>
var horizontal_ad = ["Boring", "Viagra", "Human", "Guns", "Diet", "Gay"];
var randomNumber=Math.floor(Math.random()*horizontal_ad.length);
document.getElementById("hori_ad").src = "images/" + horizontal_ad[randomNumber] + ".jpg";
</script>