<div class="word_ads">
sponsored offers</br>
<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">It's Easier</a></div>
Do Nothing, Lose Weight,</br>
it's just that simple!</br>
Imbetterthanyou</br></br>

<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">The Only One</a></div>
I want you to believe that</br> 
you're the only one that </br>
will enjoy this exclusive</br>
product.</br>
Gullible Daily</br></br>

<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">Slash Your Bills</a></div>
It's so easy a baby could do </br>
it, check this out!</br>
Wink Wink Haha</br>
</div>	

<!--<div class="word_ads">
sponsored offers</br>
<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">Vote for Me</a></div>
I only want you to vote</br>
so you can vote for me!</br>
Tea Party Express</br></br>

<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">Work From Home</a></div>
It's great working from </br>
home, a monkey can make </br> 
lots of cash selling crap.</br>
Pirate 101</br></br>

<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">Gardening Tips</a></div>
No one cares about garden</br>
tips. I dare you to look...</br>
Happy-Go-Lucky Gardens</br>
</div></br>	

<div class="word_ads">
sponsored offers</br>
<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">New Rule Here</a></div>
Finding out news in </br>
inconvenient ways is dumb.</br>
Uranidiot</br></br>

<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">Indisputable Proof!</a></div>
Read the napkin that proves</br>
beyond doubt that Obama</br> 
was born in Kenya. </br>
Rukiddingme</br></br>

<div id="ad_title"><a href="www.thisisonlypretend.com/haerhkrdsafdh/46953346/shflesdafdslfhgkd.html">Slash Your Bills</a></div>
It's so easy a baby could do </br>
it, check this out!</br>
Wink Wink Haha</br>
</div>	

-->