

<div id="advertisement_horizontal"><a href="www.timeforanerection.com/43695hfdglkreyetreldftg"><%=image_tag("Viagra.jpg")%></a></div>
<div id="building"><%=image_tag("building.gif")%></div>
<div id= "intro">
Welcome to Adam's Snakes, Jewels and Coffee Shop, </br>
the only shop where you can buy a pet snake to call </br>
your pal, a pretty jewel for someone you cherish, or </br>
just a cup of coffee to start your wonderful day.  Why </br>
get such items at three different stores when you can </br>
just come to one place instead? Come to Adam's Snakes, </br>
Jewels and Coffee Shop for all your needs. Check out the </br>
site for more details.</br>

</div>
<div id="location">
Address:</br>
27197 SW Fake Street</br>
Random City, OH 43222</br>
</div>

<div id="hours">
Store Hours</br>
Monday-Friday: 8:00AM - 8:00PM</br>
Saturday: 8:00AM - 9:00PM</br>
Sunday: 8:00AM - 7:00PM</br>
</div>

<div id="logo_main"><%=image_tag("logo.gif")%></div>
<div id="advertisement_vertical"><a href="www.allpoliticiansarelyingscumbags.com/adlgh54dsl54396rthlgfre"><%=image_tag("GOP.jpg")%></a></div></br></br>
<div class="word_ads">
sponsored offers</br>
<div id="ad_title"><a href="www.youreanidiot.com/38743kjfioerhjlfhlr">It's Easier</a></div>
Do Nothing, Lose Weight,</br>
it's just that simple!</br>
Imbetterthanyou</br></br>

<div id="ad_title"><a href="www.ad.icantbelievehessigningit.com/sucker/12043754hjlds08743hljfd8t4lkdt87rt70dt7ure07we7r0ew-ewy">The Only One</a></div>
I want you to believe that</br> 
you're the only one that </br>
will enjoy this exclusive</br>
product.</br>
Gullible Daily</br></br>

<div id="ad_title"><a href="www.babiesaresmarterthanadults.com/4802547lert4308jlffdsfgheouru.html">Slash Your Bills</a></div>
It's so easy a baby could do </br>
it, check this out!</br>
Wink Wink Haha</br>
</div>	
