// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form {
  margin-left: 200px;
}
.all_products {
  margin-left: 200px;
}
.all_products a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.all_products td {
  border-bottom: 1px solid black;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}
.additional_link {
  margin-left: 200px;
}
.additional_link p {
  font: 14px;
  font-weight: bold;
  font-family: Georgia;
}
.image_item {
  margin-left: 200px;
  margin-top: 50px;
  width: 300px;
}
.products_individual {
  margin-left: 550px;
  margin-top: -300px;
  width: 500px;
  font-size: 18px;
}
.digg_pagination {
  margin-top: 5px;
  background: #F0F0F0;
  width: 170px;
  cursor: default;
  /* self-clearing method: */ 
}
  
.digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; 
}
.digg_pagination .disabled {
    color: black;
    border: 1px solid #dddddd;
    background-color: #F7F7F7; 
}
.digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: yellow;
    color: white;
    border: 1px solid #2e6ab1; 
}
.digg_pagination a {
    text-decoration: none;
    color: black;
    border: 1px solid #9aafe5; 
}
.digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; 
}
.digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; 
}
.digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; 
}
.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; 
}
#price_table {
  text-align: right;
}
